html {
  height: 100%;
}

body {
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-weight: 700;
  font-size: 4em;
}

#index .navbar-dark {
  background-color: #2c3e50;
}

.navbar-dark .navbar-nav > li > a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}


/******************
    Index Page
******************/

.jumbotron {
  color: #2c3e50;
  background: #ecf0f1;
  width: 100%;
}

.index-jumbo {
  background: url(../assets/images/tim-mossholder-1196252-unsplash.jpg) center center / cover no-repeat;
}

.jumbo-text {
  display: inline-block;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  background: rgba(229,229,229,0.5)
}

.flex {
  display: flex;
  flex-wrap: wrap;
}


/******************
    About Page
******************/

#about {
  background: url(../assets/images/carlo-knell-1204444-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#content {
  text-align: center;
  padding: 25%;
}

.content-header {
  color: white;
}

hr {
  width: 90%;
}


/******************
  Christmas Page
******************/

#christmas {
  background-color: #f8b229;
  font-family: 'Mountains of Christmas', cursive;
}

#mainNavbar {
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #bb2528;
}

#mainNavbar .navbar-brand {
  color: #bb2528;
  font-size: 1.5rem;
}

#headingGroup span {
  color: #bb2528;
}

#headingGroup h1 {
  font-size: 5rem;
}

@media (max-width: 1300px) {
  #headingGroup h1 {
    font-size: 3.5rem;
  }
}

.christmas-h2 {
  color: #bb2528;
}

.christmas-p {
  color: white;
  font-size: 1.2rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
}